.boxes {
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.text-box-card {
    max-width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #ff6600;
    border-radius: 10px;
}
ul.text-box-list {
    margin-left: 5%;
}

a.genie_start, a.genie_prev, a.genie_next, a.genie_save_profile, a.genie_review {
    font-size: 20px;
}

.text-box-card p.text-box-desc {
    font-size: 18px!important;
    line-height: 1.5em!important;
}

.block {
    border: 2px solid #ff6600;
    border-radius: 10px;
    padding: 10px;
}

/*FORM NEW STRATEGY*/
.fieldgroup, #summaryScreen, .qNumberScreen {
    display: none;
}
.question-form {
    padding: 30px;
    width: 80%;
    margin: 35px auto;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.screenHeader {
    font-size:2em;
}
.buttonDiv {
    margin-top: 30px;
}

.notfilled {
    display: none;
    color: red;
    font-size: 0.8em;
}
.button-form {
    font-size: 20px!important;
}

.screen {
    font-size:1.4em;
    line-height:30px;
}

#row-login-card {
    margin-top: 25px;
}
.menu-icon {
    color: #ff6600;
}

.font-weight-bold {
    font-weight: bold;
}
img.actionImage {
    max-width: 450px;
}
.bg-orange {
    background-color: #b58703;
    font-weight: bold;
    color: #fff!important;
    padding: .4em;
    display: block;
    margin-bottom: .25em;
    font-size: .9em;
}
.bg-darkOrange {
    background-color: #ff6600;
    font-weight: bold;
    color: #fff!important;
    padding: .4em;
    display: block;
    margin-bottom: .25em;
    font-size: .9em;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > .strategy-box {
    display: inline-grid;
    margin-bottom: 25px;
    word-break: break-word;
}
#front-card >[class*='col-'] {
    display: flex;
}
.card-title {
    font-weight: bold;
    font-size: 1.45em;
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    margin-bottom: 10px;
}
.actionItem a, .connectedItem {
    font-size: 1.2em;
    line-height: 1.5em;
}
.action-name {
    width: 100%;
    margin-top: 2em;
}
.ac-content {
    width: 100%;
    margin-top: 20px;
}
.panel-default {
    border-color: #b58703!important;
}
footer {
    margin-top: 50px;
}
.genie-NavButtons {
    margin-right: 1em;
}
.text-box-card a, .strategy-box a {
    color: #4b4b4d;
}
.text-box-card a {
    font-weight: bold;
}
input[type=radio] {
    vertical-align: unset!important;
}
label {
    display: inline-flex!important;
    margin-left: 10px;
}
.js-form-type-radio {
    margin-bottom: 5px!important;
}
.nextItems {
    display: none;
}
.targetDiv {
    word-wrap: break-word;
}
h4.section-title {
    text-decoration: underline;
    font-weight: bold;
}
.actionItem {
    border-bottom: 1px solid #f60;
}
#statusFilter {
    margin-bottom: 1em;
}
#genieActions div.actionItem .svg-inline--fa {
    color: #ff6600;
}
.filter-group {
    border: 1px solid #f60;
    padding: .75em;
    margin-bottom: 1em;
    border-radius: .5em;
}
.acNavButtons {
    text-align: center;
}
.linkToSource {
    text-align: center!important;
}
