#slider{
    width:100%;
    height:270px;
    position:relative;
    overflow:hidden;
    background-color: rgba(249, 136, 57, 0.1);
    border:#ff6600 solid 2px;
    border-radius:5px;
    margin-right: 0!important;
    margin-left: 0!important;
    margin-bottom: 1.75em;
}

.slide{
    width:100%;
    height:100%;
    padding: 30px;
}

.slide-copy{
    height: 100%;
}

#prev, #next{
    cursor:pointer;
    z-index:100;
    background:#ff6600;
    height:40px;
    width:40px;
    display:none;
    position:relative;
    top:110px;
    margin:0;
    padding:0;
    opacity:0.7;
    filter: alpha(opacity=70);
}

#next{
    float:right;
    right:5px;
}

#prev{
    float:left;
    left:5px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    position:relative;
    top:12%;
    right:-40%;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid #fff;
    position:relative;
    top:12%;
    left:30%;
}
.genie-img {
    max-height: 100%;
    width: auto;
}
.slide-img {
    max-width: 100%;
    height: auto;
}