<div class="container">
    <div class="row justify-content-center">
        <div class="acNavButtons col-md-7 col-sm-7">
            {% if previousAction.id and previousAction.id | number_format < currentAction.id | number_format %}
                {% if (lang == 'en') %}
                    <a href="/genie/strategy/action/{{ previousAction.action }}"
                       class="btn btn-outline-secondary genie-NavButtons"><i class="fa fa-chevron-left"></i> {{ acButtons[3] }}</a>
                {% else %}
                    <a href="/{{ lang }}/genie/strategy/action/{{ previousAction.action }}"
                       class="btn btn-outline-secondary genie-NavButtons"><i class="fa fa-chevron-left"></i> {{ acButtons[3] }}</a>
                {% endif %}
            {% else %}
                <span class="genie-NavButtons">&nbsp;</span>
            {% endif %}
            {% if (lang == 'en') %}
                <a href="/genie/strategy" class="btn btn-outline-secondary genie-NavButtons"><i
                            class="fa fa-home"></i> {{ acButtons[0] }}</a>
            {% else %}
                <a href="/{{ lang }}/genie/strategy" class="btn btn-outline-secondary genie-NavButtons"><i
                            class="fa fa-home"></i> {{ acButtons[0] }}</a>
            {% endif %}
            {% if nextAction.id and nextAction.id | number_format > currentAction.id | number_format %}
                {% if (lang == 'en') %}
                    <a href="/genie/strategy/action/{{ nextAction.action }}"
                       class="btn btn-outline-secondary genie-NavButtons">{{ acButtons[4] }} <i
                                class="fa fa-chevron-right"></i></a>
                {% else %}
                    <a href="/{{ lang }}/genie/strategy/action/{{ nextAction.action }}"
                       class="btn btn-outline-secondary genie-NavButtons">{{ acButtons[4] }} <i
                                class="fa fa-chevron-right"></i></a>
                {% endif %}
            {% else %}
                <span class="genie-NavButtons">&nbsp;</span>
            {% endif %}
        </div>
    </div>

    {% for actionCard in actionsCard %}
        <div class="row">
            <div class="action-name"><h1 class="h1 text-center">{{ actionCard.title }}</h1></div>
            <div>
                {% if not actionsCompleted %}
                    {{ form }}
                {% else %}
                    <strong>{{ acButtons[5] }} </strong>
                    {{ form }}
                {% endif %}
            </div>
        </div>

        <div class="row action-name">
            <div class="col-md-4">
                <a class="showSingle bg-darkOrange" data-value="1" href="#">{{ acSectionNames[0] }}</a>
                <a class="showSingle bg-orange" data-value="2" href="#">{{ acSectionNames[1] }}</a>
                <a class="showSingle bg-orange" data-value="3" href="#">{{ acSectionNames[2] }}</a>
                <a class="showSingle bg-orange" data-value="4" href="#">{{ acSectionNames[3] }}</a>
                <a class="showSingle bg-orange" data-value="5" href="#">{{ acSectionNames[4] }}</a>
                {% if actionCard.implications %}
                    <a class="showSingle bg-orange" data-value="6" href="#">{{ acSectionNames[5] }}</a>
                {% endif %}
                <a class="showSingle bg-orange" data-value="7" href="#">{{ acSectionNames[6] }}</a>
                <a class="showSingle bg-orange" data-value="8" href="#">{{ acSectionNames[7] }}</a>
                <a class="showSingle bg-orange" data-value="9" href="#">{{ acSectionNames[8] }}</a>
                <a class="showSingle bg-orange" data-value="10" href="#">{{ acSectionNames[9] }}</a>
                <a class="showSingle bg-orange" data-value="11" href="#">{{ acSectionNames[10] }}</a>
                <a class="showSingle bg-orange" data-value="12" href="#">{{ acSectionNames[11] }}</a>
                {% if actionCard.estimated2 %}
                    <a class="showSingle bg-orange" data-value="13" href="#">{{ acSectionNames[12] }}</a>
                {% endif %}
                <a class="showSingle bg-orange" data-value="14" href="#">{{ acSectionNames[13] }}</a>
            </div>
            <div class="col-md-8">
                <div id="table1" class="targetDiv"><h4
                            class="h4 section-title">{{ acSectionNames[0] }}</h4>{{ filteredCards.abstract |raw }}</div>
                <div id="table2" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[1] }}</h4>{{ filteredCards.gd_justification |raw }}
                </div>
                <div id="table3" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[2] }}</h4>{{ filteredCards.gd_implementation |raw }}
                </div>
                <div id="table4" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[3] }}</h4>{{ filteredCards.check_list |raw }}
                </div>
                <div id="table5" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[4] }}</h4>{{ filteredCards.metrics |raw }}</div>
                <div id="table6" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[5] }}</h4>{{ filteredCards.implications |raw }}
                </div>
                <div id="table7" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[6] }}</h4>{{ filteredCards.tips |raw }}</div>
                <div id="table8" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[7] }}</h4>{{ connectedActions |raw }}</div>
                <div id="table9" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[8] }}</h4>{{ filteredCards.time |raw }}</div>
                <div id="table10" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[9] }}</h4>{{ filteredCards.estimated |raw }}
                </div>
                <div id="table11" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[10] }}</h4>{{ filteredCards.links |raw }}</div>
                <div id="table12" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[11] }}</h4>{{ filteredCards.cross_border |raw }}
                </div>
                <div id="table13" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[12] }}</h4>{{ filteredCards.estimated2 |raw }}
                </div>
                <div id="table14" class="targetDiv nextItems"><h4
                            class="h4 section-title">{{ acSectionNames[13] }}</h4>{{ filteredCards.impact |raw }}</div>
            </div>
        </div>
    {% endfor %}

</div>
