<div class="container">
    <div class="row">
        <div class="col-md-4" id="genie-menu">
            <div class="text-box-card">
                <h3 class="h3"><i class="fa fa-th-list menu-icon"></i> {{ menuText[0] }}</h3>
                <hr style="margin-top: 5px;">
                {% if (lang == 'en') %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/glossary"> {{ menuText[4] }}</a></p>
                {% else %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/glossary"> {{ menuText[4] }}</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            {{form}}
        </div>
    </div>
</div>


