<div class="container">
    <div id="slider" class="row">
        <div class="col-md-1">
            <div id="prev" title="Prev">
                <div class="arrow-left"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="slide row">
                <div class="slide-copy col-md-8">
                    <h3 class="h3">{{ homeTexts[0].slide1_1 }}</h3>
                    <p>{{ homeTexts[0].slide1_2 }}</p>
                </div>
                <div class="col-md-4">
                    <img src="/modules/custom/genie/images/slider/genie.png" alt="genie" class="genie-img float-right"/>
                </div>
            </div>

            <div class="slide row">
                <div class="slide-copy col-md-8">
                    <h3 class="h3">{{ homeTexts[0].slide2_1 }}</h3>
                    <p>{{ homeTexts[0].slide2_2 }}</p>
                </div>
                <div class="col-md-4">
                    <img src="/modules/custom/genie/images/slider/img2.png" alt="genie" class="slide-img float-right"/>
                </div>
            </div>

            <div class="slide row">
                <div class="slide-copy col-md-8">
                    <h3 class="h3">{{ homeTexts[0].slide3_1 }}</h3>
                    <p>{{ homeTexts[0].slide3_2 }}</p>
                </div>
                <div class="col-md-4">
                    <img src="/modules/custom/genie/images/slider/img3.png" alt="genie" class="slide-img float-right"/>
                </div>
            </div>

            <div class="slide row">
                <div class="slide-copy col-md-8">
                    <h3 class="h3">{{ homeTexts[0].slide4_1 }}</h3>
                    <p>{{ homeTexts[0].slide4_2 }}</p>
                </div>
                <div class="col-md-4">
                    <img src="/modules/custom/genie/images/slider/img4.png" alt="genie" class="slide-img float-right"/>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div id="next" title="Next">
                <div class="arrow-right"></div>
            </div>
        </div>
    </div>

    <div class="row" id="front-card">
        <div class="col-md-4 col-sm-6">
            <div class="text-box-card">
                <h3 class="h3">{{ homeTexts[0].home1_1 }}</h3>
                <p class="text-box-desc">{{ homeTexts[0].home1_2 }}</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-box-card">
                <h3 class="h3">{{ homeTexts[0].home2_1 }}</h3>
                <p class="text-box-desc">{{ homeTexts[0].home2_2 | replace({"\\r\\n": ' ' }) }}</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-box-card">
                <h3 class="h3">{{ homeTexts[0].home3_1 }}</h3>
                <p class="text-box-desc">{{ homeTexts[0].home3_2 }}</p>
            </div>
        </div>
    </div>
    {% if not user %}
        <div class="row" id="row-login-card">
            <div class="col-md-12">
                <div class="text-box-card">
                    <h3 class="h3">{{ homeTexts[0].home4_1 }}</h3>
                    <p class="text-box-desc">{{ homeTexts[0].home4_2 }}</p>
                    <ul class="text-box-list">{{ homeTexts[0].home4_3 |raw}}</ul>
                </div>
            </div>
        </div>
    {% else %}
    <div class="row" id="row-login-card">
        <div class="col-md-3 col-sm-4" id="genie-menu">
            <div class="text-box-card">
                <h3 class="h3"><i class="fa fa-th-list menu-icon"></i> {{ menuText[0] }}</h3>
                <hr style="margin-top: 5px;">
                {% if (lang == 'en') %}
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/assessment-report"> {{ menuText[1] }}</a>
                </p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/strategy"> {{ menuText[2] }}</a></p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/action"> {{ menuText[3] }}</a></p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/glossary"> {{ menuText[4] }}</a></p>
                {% else %}
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/assessment-report"> {{ menuText[1] }}</a>
                </p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/strategy"> {{ menuText[2] }}</a></p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/action"> {{ menuText[3] }}</a></p>
                <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/glossary"> {{ menuText[4] }}</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9 col-sm-8">
            <div class="text-box-card">
                <h3 class="h3">{{ homeTexts[0].home4_1 }}</h3>
                <p class="text-box-desc">{{ homeTexts[0].home4_2 | replace({"\\r\\n": ' ' }) }}</p>
                <ul class="text-box-list">{{ homeTexts[0].home4_3 |raw}}</ul>
            </div>
        </div>
    </div>
    {% endif %}
</div>
