<div class="container">
    <div class="row justify-content-center" style="margin-bottom: 2em;">
        <div class="col-md-4">
            <h2 class="text-center">{{ menuText[2] }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3" id="genie-menu">
            <div class="text-box-card">
                <h3 class="h3"><i class="fa fa-th-list menu-icon"></i> {{ menuText[0] }}</h3>
                <hr style="margin-top: 5px;">
                {% if (lang == 'en') %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a
                                href="/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/glossary"> {{ menuText[4] }}</a></p>
                {% else %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a
                                href="/{{ lang }}/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a
                                href="/{{ lang }}/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a
                                href="/{{ lang }}/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a
                                href="/{{ lang }}/genie/glossary"> {{ menuText[4] }}</a></p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="text-right"><a href="#" id="filtersBtn" style="font-size:1.2em"><i
                            class="fa fa-filter"></i>{{ filterText[0] }}</a></div>

            <div id="genieFilters" style="display:none">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-group">
                            <strong>{{ filterText[1] }}</strong> (<a href="#"
                                                                     class="filterReset">{{ filterText[2] }}</a>)
                            <br/>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-type"
                                                                  data-value="1" data-active="0">{{ filterText[3] }}</a>
                            </div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-type"
                                                                  data-value="2" data-active="0">{{ filterText[4] }}</a>
                            </div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-type"
                                                                  data-value="3" data-active="0">{{ filterText[5] }}</a>
                            </div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-type"
                                                                  data-value="4" data-active="0">{{ filterText[6] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="filter-group">
                            <strong>{{ filterText[14] }}</strong> (<a href="#"
                                                                      class="filterReset">{{ filterText[2] }}</a>)<br/>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-ict"
                                                                  data-value="Basic"
                                                                  data-active="0">{{ filterText[7] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-ict"
                                                                  data-value="Intermediate"
                                                                  data-active="0">{{ filterText[8] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-ict"
                                                                  data-value="Advanced"
                                                                  data-active="0">{{ filterText[9] }}</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter-group">
                            <strong>{{ filterText[15] }}</strong> (<a href="#"
                                                                      class="filterReset">{{ filterText[2] }}</a>)<br/>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-english"
                                                                  data-value="Basic"
                                                                  data-active="0">{{ filterText[7] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-english"
                                                                  data-value="Intermediate"
                                                                  data-active="0">{{ filterText[8] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-english"
                                                                  data-value="Advanced"
                                                                  data-active="0">{{ filterText[9] }}</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="filter-group">
                            <strong>{{ filterText[16] }}</strong> (<a href="#"
                                                                      class="filterReset">{{ filterText[2] }}</a>)<br/>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-webshop"
                                                                  data-value="Starting"
                                                                  data-active="0">{{ filterText[10] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-webshop"
                                                                  data-value="Established"
                                                                  data-active="0">{{ filterText[11] }}</a></div>
                            <div><i style="color:#999999"></i> <a href="#" class="genieFilter" data-type="data-webshop"
                                                                  data-value="Well developed"
                                                                  data-active="0">{{ filterText[12] }}</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="statusFilter">
                <strong>{{ filterText[13] }} </strong> <span id="filterStatus">{{ filterText[17] }}</span>
            </div>
            <div id="genieActions">
                <div class="row">
                    {% for key, action in actionsByModules %}
                        <div class="col-md-6 col-lg-4 strategy-box">
                            <div class="block">
                                <div class="card-title">{{ elementsTranslated[key] }}</div>
                                {% for item in action %}
                                    {% if item.ict in pICTPriorities and item.action not in actionsCompleted %}
                                        <div class="actionItem" data-type="{{ item.type }}"
                                             data-webshop="{{ item.webshop }}" data-ict="{{ item.ict }}"
                                             data-english="{{ item.english }}">
                                            {% if (lang == 'en') %}
                                                <a href="/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction"><i class="fa fa-star"></i> {{ item.title }}</a>
                                            {% else %}
                                                <a href="/{{ lang }}/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction"><i class="fa fa-star"></i> {{ item.title }}</a>
                                            {% endif %}
                                        </div>
                                    {% elseif item.ict not in pICTPriorities and item.action not in actionsCompleted %}
                                        <div class="actionItem" data-type="{{ item.type }}"
                                             data-webshop="{{ item.webshop }}" data-ict="{{ item.ict }}"
                                             data-english="{{ item.english }}">
                                            {% if (lang == 'en') %}
                                                <a href="/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction">{{ item.title }}</a>
                                            {% else %}
                                                <a href="/{{ lang }}/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction">{{ item.title }}</a>
                                            {% endif %}
                                        </div>
                                    {% elseif item.action in actionsCompleted %}
                                        <div class="actionItem" data-type="{{ item.type }}"
                                             data-webshop="{{ item.webshop }}" data-ict="{{ item.ict }}"
                                             data-english="{{ item.english }}">
                                            {% if (lang == 'en') %}
                                                <a href="/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction">{{ item.title }} <i class="fa fa-check"></i></a>
                                            {% else %}
                                                <a href="/{{ lang }}/genie/strategy/action/{{ item.action }}"
                                                   data-val="{{ item.action }}"
                                                   class="linkToAction">{{ item.title }} <i class="fa fa-check"></i></a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
