<div class="container">
    <div class="row">
        <div class="col-md-4" id="genie-menu">
            <div class="text-box-card">
                <h3 class="h3"><i class="fa fa-th-list menu-icon"></i> {{ menuText[0] }}</h3>
                <hr style="margin-top: 5px;">
                {% if (lang == 'en') %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/glossary"> {{ menuText[4] }}</a></p>
                {% else %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/glossary"> {{ menuText[4] }}</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <h1>{{ menuText[1] }}</h1>
            {% if profileDecoded | length > 1 %}
                {% if assessmentText['q1'] is defined %}
                    <p>{{ assessmentText['q1'] }}</p>
                {% endif %}
                <p>{{ assessmentText['q2'][0] }}
                    <strong>{{ assessmentText['q2'][1] }}</strong> {{ assessmentText['q2'][2] }}</p>
                {% if assessmentText['q3'] is defined %}
                    <p>{{ assessmentText['q3'] }}</p>
                {% endif %}
                <p>{{ assessmentText['q4'][0] }}
                    <strong>{{ assessmentText['q4'][1] }}</strong> {{ assessmentText['q4'][2] }}
                    <strong>{{ assessmentText['q4'][1] }}</strong>.</p>
                <p>{{ assessmentText['q5'][0] }}
                    <strong>{{ assessmentText['q5'][1] }}</strong> {{ assessmentText['q5'][2] }}</p>
                {% if assessmentText['q6'] is defined %}
                    <p>{{ assessmentText['q6'] }}</p>
                {% endif %}
                {% if assessmentText['q7'] is defined %}
                    <p>{{ assessmentText['q7'] }}</p>
                {% endif %}
                {% if assessmentText['q8'] is defined %}
                    <p>{{ assessmentText['q8'] }}</p>
                {% endif %}
                {% if assessmentText['q9'] is defined %}
                    <p>{{ assessmentText['q9'] }}</p>
                {% endif %}
                {% if assessmentText['q10'] is defined %}
                    <p>{{ assessmentText['q10'] }}</p>
                {% endif %}
                {% if assessmentText['q11'] is defined %}
                    <p>{{ assessmentText['q11'] }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
