<div class="container">
    <div class="row">
        <div class="col-md-4" id="genie-menu">
            <div class="text-box-card">
                <h3 class="h3"><i class="fa fa-th-list menu-icon"></i> {{ menuText[0] }}</h3>
                <hr style="margin-top: 5px;">
                {% if (lang == 'en') %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/genie/glossary"> {{ menuText[4] }}</a></p>
                {% else %}
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/assessment-report"> {{ menuText[1] }}</a>
                    </p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/strategy"> {{ menuText[2] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/action"> {{ menuText[3] }}</a></p>
                    <p><i class="fa fa-bookmark menu-icon"></i> <a href="/{{ lang }}/genie/glossary"> {{ menuText[4] }}</a></p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8">
            <div id="totop" style="font-size: 1.55em;">
                {% for key, value in letters %}
                    <a href="#glossary{{ value }}">{{ value }}</a> |
                {% endfor %}
            </div>
            {% for g, item in glossary %}
                <div id="glossary{{ g }}" style="margin-top: 1.25em;">
                    <h1>{{ g }}</h1>
                    <a href="#totop"><i class="fa fa-chevron-circle-up"></i> {{ homeTexts[0].glossary1 }}</a><br/><br/>
                    {% for definition in item %}
                        <strong> {{ definition[0] }}</strong> - {{ definition[1] }} <br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


    </div>
</div>
